{% extends 'base.html' %}

{% block header %}
    <h2>Identifiers</h2>
    <h3>{% block title %}Create{% endblock %}</h3>
{% endblock %}

{% block content %}
    <form method="post">
        <p><label for="identifier_name" class="form-label">Name</label><br><input name="identifier_name" id="identifier_name" class="form-control" required></p>
        <p><label for="identifier_description" class="form-label">Description</label><br><textarea name="identifier_description" id="identifier_description" class="form-control" required></textarea></p>
        <p><input type="submit" value="Create" class="btn btn-primary"></p>
    </form>
{% endblock %}
